---
import Layout from "../layouts/Layout.astro";
import LabelOption from "../components/labelOption.astro";
import MensajeConvenio from "../components/mensajeConvenio.astro";
---

<Layout title="Surnet | Convenios de pago">
  <div class="lg:grid grid-cols-[2fr_3fr] lg:gap-5">
     
     <form
      id="miFormulario"
      class=" lg:gap-3 grid grid-cols-1 lg:grid-cols-[1fr_2fr] lg:m-2 "
    >
    <h1 class="col-span-2 text-center text-lg">Opciones</h1>
      <LabelOption title='Fecha de facturación' forTitle='fechaFacturacion' />
      <select
        id="fechaFacturacion"
        name="fechaFacturacion"
        class="w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
      >
        <option value="" disabled selected>Selecciona una fecha</option>
        <option value="1">Fecha 1</option>
        <option value="15">Fecha 15</option>
      </select>
      <LabelOption title='OT cliente' forTitle='otCliente' />

      <input
        type="number"
        id="otCliente"
        name="otCliente"
        class=" w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
        placeholder="Número OT"
      />

      <LabelOption title='Nombre del cliente' forTitle='nombreCliente' />

      <input
        type="text"
        id="nombreCliente"
        name="nombreCliente"
        class="w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
        placeholder="Nombre completo"
      />
      <LabelOption title='Valor del plan' forTitle='valorPlan' />

      <select
        id="valorPlan"
        name="valorPlan"
        class=" w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
      >
        <option value="" disabled selected>Selecciona el plan</option>
        <option value="$20">$20</option>
        <option value="$24">$24</option>
        <option value="$25">$25</option>
        <option value="$29">$29</option>
        <option value="$30">$30</option>
        <option value="$33">$33</option>
        <option value="$35">$35</option>
      </select>

      <LabelOption title='Mes pendiente' forTitle='mesPendiente' />

      <input
        type="month"
        id="mesPendiente"
        name="mesPendiente"
        class="w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
      />

      
      <LabelOption title='Días consumidos' forTitle='diasConsumidos' />

      <input
        type="number"
        id="diasConsumidos"
        name="diasConsumidos"
        class="w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
        placeholder="Días consumidos"
      />

      <LabelOption title='Mes actual' forTitle='mesActual' />

      <input
        type="date"
        id="mesActual"
        name="mesActual"
        class="w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
      />

      <LabelOption title='Días por consumir' forTitle='diasPorConsumir' />

      <input
        type="number"
        id="diasPorConsumir"
        name="diasPorConsumir"
        class="w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
        placeholder="Días restantes"
      />

      <button
        type="submit"
        class="bg-blue-500 text-white py-2 px-4 rounded">Evaluar</button
      >
    </form>
 
    <section class=" lg:rounded-lg  bg-gray-100 lg:m-2">
      <MensajeConvenio/>
    </section>
  </div>
</Layout>

<script>
  document
    .getElementById("miFormulario")!
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Evita el envío del formulario por defecto

      // Obtener los valores de los inputs y selects con los tipos correctos
      const fechaFacturacion =
        document.querySelector<HTMLSelectElement>("#fechaFacturacion");
      const otCliente = document.querySelector<HTMLInputElement>("#otCliente");
      const nombreCliente =
        document.querySelector<HTMLInputElement>("#nombreCliente");
      const valorPlan = document.querySelector<HTMLSelectElement>("#valorPlan");
      const mesPendiente =
        document.querySelector<HTMLInputElement>("#mesPendiente");
      const diasConsumidos =
        document.querySelector<HTMLInputElement>("#diasConsumidos");
      const mesActual = document.querySelector<HTMLInputElement>("#mesActual");
      const diasPorConsumir =
        document.querySelector<HTMLInputElement>("#diasPorConsumir");
      const mensajeConvenio =
        document.querySelector<HTMLDivElement>(".mensajeConvenio");

      //grabando los valores en variables
      const fechaFacturacionSelect = fechaFacturacion?.value;
      const otClienteInput = otCliente?.value;
      const nombreClienteInput = nombreCliente?.value;
      const valorPlanValue = valorPlan?.value;
      const mesPendienteValue = mesPendiente?.value;
      const diasConsumidosInput = diasConsumidos?.value;
      const mesActualInput = mesActual?.value;
      const diasPorConsumirInput = diasPorConsumir?.value;
      let mensajeConvenioValue = mensajeConvenio?.innerText;

      let valorTotalSinDescuentos;
      let valorPorDia;
      let valorTotalPorDiasConsumidos;
      let valorTotalPorDiasAConsumir;
      let valorTotalConDescuento

      if (valorPlanValue) {
        // Verifica que no sea undefined ni null
        valorTotalSinDescuentos =
          parseFloat(valorPlanValue.replace("$", "")) * 2;

        valorPorDia = parseFloat(valorPlanValue.replace("$", "")) / 30;

        valorTotalPorDiasConsumidos =
          valorPorDia * Number(diasConsumidosInput) < 10
            ? 10
            : Math.ceil(valorPorDia * Number(diasConsumidosInput));


            const diasAConsumir = Number(diasPorConsumirInput) >= 24 ? 30 : Number(diasPorConsumirInput);
valorTotalPorDiasAConsumir = valorPorDia * diasAConsumir < 10 
    ? 10 
    : Math.ceil(valorPorDia * diasAConsumir);


            valorTotalConDescuento = valorTotalPorDiasConsumidos + valorTotalPorDiasAConsumir


      } else {
        console.log("El valor del plan no está definido.");
      }


      if (mensajeConvenio) {
        mensajeConvenio.innerHTML = `REACTIVACIÓN FECHA DE FACTURACIÓN  ${fechaFacturacionSelect} DE CADA MES: </br>
Estimado cliente:<span class='text-blue-500'> ${otClienteInput} ${nombreClienteInput}</span> al momento sus saldos pendientes sin descuento son:  </br>
Pago pendiente de <span class='text-blue-500'> ${mesPendienteValue} </span> : <span class='text-blue-500'> ${valorPlanValue} </span> </br>
Pago pendiente de la factura de éste período <span class='text-blue-500'> ${mesActualInput}</span> : <span class='text-blue-500'> ${valorPlanValue} </span> </br>
Dando UN TOTAL de <span class='text-blue-500'> $${valorTotalSinDescuentos} dolares </span> </br>  </br>

PROMOCION DE CONTADO SOLO POR HOY <span class='text-blue-500'> ${mesActualInput} </span> PARA REACTIVAR(proporcionales)  </br>
Pago pendiente con descuento de <span class='text-blue-500'> ${mesPendienteValue} </span> :<span class='text-blue-500'> $${valorTotalPorDiasConsumidos} </span>  </br>
Pago pendiente de la factura de éste período <span class='text-blue-500'> ${mesActualInput} </span> para reactivar: <span class='text-blue-500'> $${valorTotalPorDiasAConsumir} </span>  </br>
Dando UN TOTAL de <span class='text-blue-500'> $${valorTotalConDescuento} </span>  </br>  </br>


Si no cancela el día de hoy el valor con descuento, quedarán pendiente el saldo indicado sin descuento.
`;
      }
    });

   

</script>
