---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Surnet | Convenios de pago">
  <div class="lg:grid grid-cols-2">
    <form
      id="miFormulario"
      class="lg:border lg:rounded-lg lg:gap-6 lg:m-5 grid grid-cols-1 lg:grid-cols-[1fr_2fr] lg:p-5"
    >
      <label
        for="fechaFacturacion"
        class="mt-2 lg:text-end lg:flex lg:items-center"
        >Fecha de facturación</label
      >
      <select
        id="fechaFacturacion"
        name="fechaFacturacion"
        class="py-1 w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
      >
        <option value="" disabled selected>Selecciona una fecha</option>
        <option value="1">Fecha 1</option>
        <option value="15">Fecha 15</option>
      </select>

      <label for="otCliente" class="mt-2 lg:text-end lg:flex lg:items-center"
        >OT cliente</label
      >
      <input
        type="number"
        id="otCliente"
        name="otCliente"
        class="py-1 w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
        placeholder="Número OT"
      />

      <label
        for="nombreCliente"
        class="mt-2 lg:text-end lg:flex lg:items-center"
        >Nombre del cliente</label
      >
      <input
        type="text"
        id="nombreCliente"
        name="nombreCliente"
        class="py-1 w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
        placeholder="Nombre completo"
      />

      <label for="valorPlan" class="mt-2 lg:text-end lg:flex lg:items-center"
        >Valor del plan</label
      >
      <select
        id="valorPlan"
        name="valorPlan"
        class="py-1 w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
      >
        <option value="" disabled selected>Selecciona un valor</option>
        <option value="$20">$20</option>
        <option value="$24">$24</option>
        <option value="$25">$25</option>
        <option value="$29">$29</option>
        <option value="$30">$30</option>
        <option value="$33">$33</option>
        <option value="$35">$35</option>
      </select>

      <label for="mesPendiente" class="mt-2 lg:text-end lg:flex lg:items-center"
        >Mes pendiente</label
      >
      <input
        type="date"
        id="mesPendiente"
        name="mesPendiente"
        class="py-1 w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
      />

      <label
        for="diasConsumidos"
        class="mt-2 lg:text-end lg:flex lg:items-center"
        >Total días consumidos</label
      >
      <input
        type="number"
        id="diasConsumidos"
        name="diasConsumidos"
        class="py-1 w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
        placeholder="Días consumidos"
      />

      <label for="mesActual" class="mt-2 lg:text-end lg:flex lg:items-center"
        >Mes actual</label
      >
      <input
        type="date"
        id="mesActual"
        name="mesActual"
        class="py-1 w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
      />

      <label
        for="diasPorConsumir"
        class="mt-2 lg:text-end lg:flex lg:items-center"
        >Días por consumir</label
      >
      <input
        type="number"
        id="diasPorConsumir"
        name="diasPorConsumir"
        class="py-1 w-full lg:w-auto border border-gray-500 rounded-lg pl-2"
        placeholder="Días restantes"
      />

      <button
        type="submit"
        class="mt-5 bg-blue-500 text-white py-2 px-4 rounded">Evaluar</button
      >
    </form>

    <section class="lg:border lg:rounded-lg mt-5  lg:m-5">
      <div class="mensajeConvenio w-full h-full lg:p-5">
REACTIVACIÓN FECHA DE FACTURACIÓN <span class="text-cyan-600">---</span> DE CADA MES: <br>
Estimado cliente: <span class="text-cyan-600">---OT---</span> <span class="text-cyan-600">---nombres---</span>  al momento sus saldos pendientes sin
descuento son: <br>
Pago pendiente de <span class="text-cyan-600">--fecha pago pendiente---</span>  : <span class="text-cyan-600"> --valor---pendiente---</span> <br> 
Pago pendiente de la factura de éste período <span class="text-cyan-600">---fecha--factura--actual---</span>  : <span class="text-cyan-600">---valor actual sin descuento---</span> <br>
Dando UN TOTAL de <span class="text-cyan-600">--- valores sin descuento ---</span> <br>
PROMOCION DE CONTADO SOLO POR HOY <span class="text-cyan-600">---fecha---actual---</span> 
PARA REACTIVAR(proporcionales) <br> 
Pago pendiente con descuento <span class="text-cyan-600">--fecha---pago---pendiente-- </span> : <span class="text-cyan-600">---valor--pendiente--con--descuento---</span> <br>
 Pago pendiente de factura de éste periodo <span class="text-cyan-600">---fecha--factural--actual---</span>: <span class="text-cyan-600">--valor actual con descuento---</span> <br>
 Dando UN TOTAL de <span class="text-cyan-600">---valores-con-decuentos---</span> <br>
 <br>
 Si no cancela el día de hoy el valor con descuento,
quedarán pendiente el saldo indicado sin descuento.
        


</div>

    </section>
  </div>
</Layout>

<script>
  document
    .getElementById("miFormulario")!
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Evita el envío del formulario por defecto

      // Obtener los valores de los inputs y selects con los tipos correctos
      const fechaFacturacion =
        document.querySelector<HTMLSelectElement>("#fechaFacturacion");
      const otCliente = document.querySelector<HTMLInputElement>("#otCliente");
      const nombreCliente =
        document.querySelector<HTMLInputElement>("#nombreCliente");
      const valorPlan = document.querySelector<HTMLSelectElement>("#valorPlan");
      const mesPendiente =
        document.querySelector<HTMLInputElement>("#mesPendiente");
      const diasConsumidos =
        document.querySelector<HTMLInputElement>("#diasConsumidos");
      const mesActual = document.querySelector<HTMLInputElement>("#mesActual");
      const diasPorConsumir =
        document.querySelector<HTMLInputElement>("#diasPorConsumir");
      const mensajeConvenio =
        document.querySelector<HTMLDivElement>(".mensajeConvenio");

      //grabando los valores en variables
      const fechaFacturacionSelect = fechaFacturacion?.value;
      const otClienteInput = otCliente?.value;
      const nombreClienteInput = nombreCliente?.value;
      const valorPlanValue = valorPlan?.value;
      const mesPendienteValue = mesPendiente?.value;
      const diasConsumidosInput = diasConsumidos?.value;
      const mesActualInput = mesActual?.value;
      const diasPorConsumirInput = diasPorConsumir?.value;
      let mensajeConvenioValue = mensajeConvenio?.innerText;

      let valorTotalSinDescuentos;
      let valorPorDia;
      let valorTotalPorDiasConsumidos;
      let valorTotalPorDiasAConsumir;
      let valorTotalConDescuento

      if (valorPlanValue) {
        // Verifica que no sea undefined ni null
        valorTotalSinDescuentos =
          parseFloat(valorPlanValue.replace("$", "")) * 2;

        valorPorDia = parseFloat(valorPlanValue.replace("$", "")) / 30;

        valorTotalPorDiasConsumidos =
          valorPorDia * Number(diasConsumidosInput) < 10
            ? 10
            : Math.ceil(valorPorDia * Number(diasConsumidosInput));


            const diasAConsumir = Number(diasPorConsumirInput) >= 24 ? 30 : Number(diasPorConsumirInput);
valorTotalPorDiasAConsumir = valorPorDia * diasAConsumir < 10 
    ? 10 
    : Math.ceil(valorPorDia * diasAConsumir);


            valorTotalConDescuento = valorTotalPorDiasConsumidos + valorTotalPorDiasAConsumir


      } else {
        console.log("El valor del plan no está definido.");
      }

      console.log(valorPorDia, valorTotalPorDiasConsumidos,valorTotalPorDiasAConsumir);

      if (mensajeConvenio) {
        mensajeConvenio.innerText = `REACTIVACIÓN FECHA DE FACTURACIÓN ${fechaFacturacionSelect} DE CADA MES:
Estimado cliente: ${otClienteInput} ${nombreClienteInput} al momento sus saldos pendientes sin descuento:
Pago pendiente de ${mesPendienteValue} : ${valorPlanValue} 
Pago pendiente de la factura de éste período ${mesActualInput} : ${valorPlanValue} 
Dando UN TOTAL de $${valorTotalSinDescuentos} dolares

PROMOCION DE CONTADO SOLO POR HOY ${mesActualInput} PARA REACTIVAR(proporcionales)
Pago pendiente con descuento de ${mesPendienteValue} : $${valorTotalPorDiasConsumidos}
Pago pendiente de la factura de éste período ${mesActualInput} para reactivar: $${valorTotalPorDiasAConsumir}
Dando UN TOTAL de $${valorTotalConDescuento}


Si no cancela el día de hoy el valor con descuento, quedarán pendiente el saldo indicado sin descuento.
`;
      }

      console.log(mensajeConvenio);
    });
</script>
